* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container-pai {
    width: 100%;
    display: flex;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;
}
/* Primary Menu */
.top_header {
    height: 60px;
}
.top_header a {
    text-decoration: none;
}
.menu-primary ul {
    display: flex;
    align-items: center;
    height: 100%;
}
.menu-primary ul li {
    height: 100%;
    line-height: 60px;
}
.menu-primary ul li a {
    display: block;
    padding: 0 20px;
    transition: all ease .25s;
}
.menu-primary ul li a:hover {
    opacity: .8;
}

/* Main Content */
.main_content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main_content .container {
    width: 100%;
    padding: 0;
    max-width: 1900px;
    display: flex;
}
/* Left Side */
.main_content .container .left_side {
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.imagem_fundo {
    width: 100%;
    position: absolute;
    filter: brightness(0.5);
}

/* Right Side*/
.main_content .container .right_side {
    width: 30%;   
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_content .container .right_side .content_inside {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main_content .container .right_side .logo .imagem_perfil_vazia {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 15px 0;
}
.main_content .container .right_side .logo{
    display: flex;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    padding: 15px 0;
    overflow: hidden;
}
.main_content .container .right_side .logo img {
    width: 100%;
    height: auto;
}
.destaque_nome {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 20px;
}
.info_pessoal,
.info_contato,
.info_socialicons {
    padding: 15px 0;
}
.info_socialicons a {
    text-decoration: none;
}
.info_socialicons img{
    height: 25px;
    width: auto;
    margin: 0 10px;
}
.info_curriculo a{
    background-color: #FFF;
    color: #000;
    text-decoration: none;
    padding: 13px 30px;
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
}


/* Seção */
section {
    padding: 90px 0;
}
section h1 {
    font-size: 1.6rem;
    margin: 10px 0;
}
section p {
    margin: 10px 0;
    font-size: 1.3rem;
}
/* Seção 2 */
.section2 {
    backdrop-filter: contrast(0.8);
}
.section2 .container {
    display: flex;
    justify-content: space-between;
}
.section2 .container .leftside,
.section2 .container .rightside{
    width: 40%;
}
.info-data {
    margin: 30px 0;
}
.info-data h1{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.info-data p {
    margin: 0;
    font-size: 19px;
} 


/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
}